<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        当前访客身份：游客
            [<span><a href="/login">登录</a></span>|<span><a href="/reg">注册</a></span>]
    
      
    </div>
</body>
</html>